body {
    font-family: "Exo", sans-serif;
}

header {
    background-image: linear-gradient(to right, lightgreen , green);
}

h1, h2 {
    font-family: "Bangers", system-ui;
}

.custom-button {
    background-color: lightgreen;
}
